.hero {
    background: url("../img/maldives.jpg") no-repeat center/cover;
    height: 100vh;
}

#nav-color {
    background-color: #CC84CD!important;
    padding: 20px 0;
}

nav input {
    outline: none;
    border: 1px solid black;
}

.dive-deeper {
    gap: 35px;
    padding-bottom: 100px;
}

.container-footer {
    padding: 40px;
}

.links {
    padding: 100px 0;
}

.hero-banner {
    padding-bottom: 100px;
}

.interview {
    padding-bottom: 100px;
}

.about {

    max-width: 75ch;
}

.img {
    background: url("../img/about.us.jpg") no-repeat center/cover;
    width: 40%;
    height: 400px;
    margin: 150px 120px 0 70px;
}

fieldset {
    margin-left: 80px;
    box-shadow: 1px 4px 13px 9px rgba(44, 44, 44, 0.52); 

    border: none;
}

.contact {
    color: #416067;
    max-width: 65ch;
    inline-size: 1.4;
    margin: 0 120px 80px 0px;
}

.phones {
    background: url("../img/phones.png") no-repeat center/cover;
    width: 40%;
    height: 520px;
    margin: -118px 120px 0 70px;
}

.mg {
    margin-left: 190px;
}





